<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <div class="pull-left user-info">
        <%= link_to "Wikis", wikis_path, class: "btn btn-default" %>
        <% if user_signed_in? && current_user.role == "standard" %>
          <%= link_to "Upgrade to Premium", new_charge_path, class: "btn btn-primary" %>
        <% elsif user_signed_in? && current_user.role == "premium" %>
          <%= link_to "Downgrade to Standard", user_downgrade_path(current_user), :data => {:confirm => 'Are you sure?'}, class: "btn btn-primary", method: :post %>
        <% end %>
      </div>
      <div class="pull-right user-info">
        <% if user_signed_in? %>
          <%= "Hello #{current_user.email}" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
        <% end %>
      </div>
    </ul>
    <% if flash[:notice] %>
     <div class="alert alert-success">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:notice] %>
     </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  <%= yield %>
  </div>
</body>
</html>
